*.bak
*.ear
*.war
*.class
*.log
*.java._trace
*.java_trace
.project
.classpath
.settings
.factorypath
build-eclipse
build-eclipse-test
target
build
eclipse_dictionary.txt
~$*
bin
generated
generated-sources
rebel.xml
*.iml
.idea
.sts4-cache